<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="eHopdong.Properties.Settings.eHopdongConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=eHopdong;Persist Security Info=True;User ID=phuqui;Password=12" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PQKEY" value="7105BFBC72D174DDBD9E6C859B3D6FB94443EDBFD36F485876E86995BCE5FE7E3B7FE1085DB6FCEF3FC1AE070E3605A712953A39DD1AE77A270E04647518E2C4039ED9BB718032F52B19036B3445B0B379A53D9F77417D4ABAC7BFDAA416AB5C44C439A58B5E417F25DA383EF51CBB997C483E32F2C72E02E6F8EBD0C772552D819E0229C614135E977956B18709DCD945710039883203BE81A44CAA86E78186" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>